#JDBC Configutation for Database Connection
jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url={{ vprofile_jdbc_url | default('jdbc:mysql://dbhost:3306/accounts?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull') }}
jdbc.username={{ vprofile_jdbc_username | default('db_user') }}
jdbc.password={{ vprofile_jdbc_password }}

#Memcached Configuration For Active and StandBy Host
#For Active Host
memcached.active.host=127.0.0.1
memcached.active.port=11211
#For StandBy Host
memcached.standBy.host=127.0.0.2
memcached.standBy.port=11211

#RabbitMq Configuration
rabbitmq.address={{ vprofile_rabbitmq_address | default('rabbitmq') }}
rabbitmq.port={{ vprofile_rabbitmq_port | default('5672') }}
rabbitmq.username={{ vprofile_rabbitmq_username }}
rabbitmq.password={{ vprofile_rabbitmq_password }}

#Elasticesearch Configuration
elasticsearch.host =192.168.1.85
elasticsearch.port =9300
elasticsearch.cluster=vprofile
elasticsearch.node=vprofilenode
